.equipment-list-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.equipment-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #1685c1;
}

.equipment-table th,
.equipment-table td {
    width: 300px;
    border: 1px solid #34495E;
    padding: 8px;
    text-align: left;
}

.equipment-table th {
    background-color: #1685c1;
    color: #ECF0F1;
    position: relative;
}

.search-bar {
    width: calc(100% - 16px);
    padding: 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #1685c1;
    border-radius: 8px;
    font-size: 14px;
    background-color: #1685c1;
}

.equipment-photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.equipment-photo-cell {
    display: flex;
    justify-content: center;
}

thead input[type="text"] {
    display: block;
    margin: 0 auto;
    width: calc(100% - 20px);
    background-color: #ffffff;
    color: #2C3E50;
}