.app-header {
    background-color: #1685c1;
    color: #ECF0F1;
    padding: 20px;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.app-title {
    margin: 0;
    font-size: 24px;
}

.nav-links {
    display: flex;
}

.nav-link {
    color: #ECF0F1;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

.nav-link:hover {
    text-decoration: underline;
}