.App {
  text-align: center;
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

input {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
}

h1,
h2,
h3,
p {
  text-align: left;
  margin-left: 10px;
}

.search-bar {
  width: calc(100% - 16px);
  padding: 5px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
}